configuration {
  location: 2;
  yoffset: 26;
  display-run: " ";
  display-drun: "  ";
  display-combi: "  ";
  display-window: "  ";
  drun-display-format: "{icon} {name}";
  /* font: "JetBrainsMono Nerd Font Medium 10"; */
  modi: "window,run,drun,combi";
  show-icons: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "/themes/tokyonight.rasi"
